body{
  	background-color: gray;
    font-family: Verdana, sans-serif;
  }

  body.cats{
    background-color: pink;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


  .picleft{

    float:left;
    left: 4em;

  }


 .picright{

    float:right;
    left:-1em;
    
  
  }

  .pictop{

    float:top;

  }


 .picbottom{

    flex-wrap: wrap;
    align-content:center;
  
  }

  .relexample
{
    background-color: #ccc;
    position: relative;
    left: 6.25em;
    right: 6.25em;
    font-size:1.1em;
}

.sample
{
    background-color: #ccc;
    position: relative;
    left: 6.25em;
    right: 6.25em;
    padding-right: 10%;
    padding-left: 30%;
}

 footer {
    position: relative;
    height: 1.25em;
    background-color: #ccc;
    clear: both;
    font-size: 1em;
    text-align: center;
    color: #ccc;
}

  
