.relexample
{
	background-color: #ccc;
	position: relative;
	left: 200px;
	right: 20px;
}


.example
{
	background-color: #ccc;
	position: relative;
	left: 200px;
	right: 200px;
}


.sample
{
	background-color: #ccc;
	position: relative;
	left: 2000px;
	right: 2000px;
}
